body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px;
}

.Login {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Login h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.Login form {
    display: flex;
    flex-direction: column;
}

.Login div {
    margin-bottom: 15px;
}

.Login label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    display: block;
}

.Login input[type="text"],
.Login input[type="email"],
.Login input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.Login input[type="text"]:focus,
.Login input[type="email"]:focus,
.Login input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    transition: border-color 0.3s ease;
}

.Login .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.Login .remember-forgot label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #555;
}

.Login .remember-forgot a {
    color: #007bff;
    text-decoration: none;
}

.Login .remember-forgot a:hover {
    text-decoration: underline;
}

.Login button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.Login button:hover {
    background-color: #0056b3;
}

.Login .register {
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
 
    align-items: center;
    gap: 5px;
   
}

.Login .register:hover {
    color: #007bff;
    text-decoration: none;
}
