
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding: 10px 20px; 
  background-color: hsl(240, 9%, 78%);
  color: white;
  position: fixed; 
  top: 0;          
  left: 0;         
  right: 0;        
  z-index: 1000;
font-family: 'Fira Code';
letter-spacing: 0.1cm;
font-size: larger;  }

.navbar-brand {
  font-family:'MonoLisa';
  color: hsl(0, 100%, 99%);
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border: 50px white ;
padding: 10px 20px;
background-color: black;
}


.navbar-item {
  padding: 12px;
  text-decoration: none;
  color: white;
  background-color: hsl(240, 9%, 78%);
  border: none;
  border-radius: 0; /* Space between items */
}

#a{
  background-color:rgb(42, 129, 222);
  position: relative;
  left: 135px;
  justify-content: center;
}
#a:hover{
  background-color: blue;
}
#b:hover{
  background-color: blue;
}

#b{
  background-color:rgb(42, 129, 222) ;
  position: relative;
  right: 200px;
}

.navbar-login {
  padding: 8px 15px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  
}

.navbar-login:hover {
  background-color: #e6b800;
}

body {
  padding-top: 60px; 
}